## Movies Recommendation System

### **Import Libraries**

In [1]:
import pandas as pd
import ast

**Read Data**

In [2]:
df = pd.read_csv('movies.csv')
df.head(3)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
sub_df = df [['title','genres','production_companies','budget','revenue']]

In [ ]:
sub_df

In [3]:
#function to fetch particular data(name) from dictionary like data 
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 2:
            L.append(i['name'])
        counter+=1
    return L

In [ ]:
#appying function to fetch particular data at particular range
# sub_df["production_companies"]=sub_df["production_companies"].apply(convert3)

In [4]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [ ]:
sub_df['production_companies'] = sub_df['production_companies'].apply(collapse)
sub_df.head()

In [ ]:
sub_df['production_companies'] = sub_df['production_companies'].apply(lambda x: " ".join(x))

In [ ]:
sub_df

In [ ]:
sub_df["Profit"] = sub_df["revenue"] - sub_df["budget"]

In [ ]:
sub_df.head(5)

In [ ]:
sub_df.to_csv('task2.csv')

In [ ]:
# merged = pd.concat([sub_df, single], axis=1)

In [ ]:
# merged.head(2)

In [ ]:
task1 = sub_df[["title", "genres", "budget", "revenue", "Profit"]]

In [ ]:
task1.head()

In [ ]:
task1.to_csv("Task1.0.csv")

In [ ]:
sub_df["production_companies"].value_counts().max()

In [ ]:
df1 = sub_df["production_companies"].value_counts().to_frame()
df1.head()

In [ ]:
df2 = sub_df.groupby("production_companies")["Profit"].sum().to_frame()
df2.head()

In [ ]:
df3 = pd.concat([df1, df2], axis=1)

In [ ]:
df3.head().reset_index()

In [5]:
task3 = df[['production_companies','production_countries','popularity']]

In [6]:
task3

,production_companies,production_countries,popularity
0,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",150.437577
1,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",139.082615
2,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",107.376788
3,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",112.312950
4,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",43.926995
...,...,...,...
4798,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",14.269792
4799,[],[],0.642552
4800,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1.444476
4801,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0.857008
4802,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1.929883

In [7]:
# appying function to fetch particular data at particular range
task3["production_companies"]=task3["production_companies"].apply(convert3)

C:\Program Files\KMSpico\temp\ipykernel_11736\3603508892.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  task3["production_companies"]=task3["production_companies"].apply(convert3)

In [8]:
task3['production_companies'] = task3['production_companies'].apply(lambda x: " ".join(x))

C:\Program Files\KMSpico\temp\ipykernel_11736\3579644788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  task3['production_companies'] = task3['production_companies'].apply(lambda x: " ".join(x))

In [10]:
task3["production_countries"]=task3["production_countries"].apply(convert3)

C:\Program Files\KMSpico\temp\ipykernel_11736\912440942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  task3["production_countries"]=task3["production_countries"].apply(convert3)

In [11]:
task3['production_countries'] = task3['production_countries'].apply(lambda x: " ".join(x))

C:\Program Files\KMSpico\temp\ipykernel_11736\2254675942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  task3['production_countries'] = task3['production_countries'].apply(lambda x: " ".join(x))

In [12]:
task3

,production_companies,production_countries,popularity
0,Ingenious Film Partners Twentieth Century Fox ...,United States of America United Kingdom,150.437577
1,Walt Disney Pictures Jerry Bruckheimer Films,United States of America,139.082615
2,Columbia Pictures Danjaq,United Kingdom United States of America,107.376788
3,Legendary Pictures Warner Bros.,United States of America,112.312950
4,Walt Disney Pictures,United States of America,43.926995
...,...,...,...
4798,Columbia Pictures,Mexico United States of America,14.269792
4799,,,0.642552
4800,Front Street Pictures Muse Entertainment Enter...,United States of America,1.444476
4801,,United States of America China,0.857008
4802,rusty bear entertainment lucky crow films,United States of America,1.929883

In [18]:
task3.groupby(["production_companies", "production_countries"]).max()

                                                                    popularity
production_companies                      production_countries
                                                                     10.006282
                                          Australia                   0.619348
                                          Austria Hungary             1.833058
                                          Brazil                      0.389471
                                          Bulgaria                    6.265659
...                                                                        ...
area japan                                United States of America    3.803495
i5 Films Headquarters                     United States of America    1.369649
icon                                      Canada                      2.080741
kNow Productions                          Germany Israel              0.594580
rusty bear entertainment lucky crow films United States of America    1.929883

[3461 rows x 1 columns]

In [19]:
task3.to_csv('task_3.csv')

In [ ]:
task_3.to_csv('taks_3.csv')

In [ ]:
sub_df2 = df[['production_countries','popularity']]

In [ ]:
sub_df2.head(2)

In [ ]:
sub_df2['production_countries'] = sub_df2['production_countries'].apply(lambda x: " ".join(x))

In [ ]:
sub_df2.head(2)

In [ ]:
col2 = sub_df2["production_countries"]

In [ ]:
single = col2.to_frame()

In [ ]:
sub_df2['production_companies','production_countries','popularity']

In [ ]:
countries.head(3)